In [46]:
import pandas as pd
import numpy as np

In [47]:
train_data = pd.read_csv('train.csv')

In [48]:
test_data = pd.read_csv('test.csv')

In [49]:
all_data = [train_data, test_data]
passenger_id = test_data['PassengerId']

In [50]:
#Feature 1: Pclass
train_data[["Pclass","Survived"]].groupby(["Pclass"], as_index = False).mean()

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [51]:
#Feature 2: Sex
train_data[["Sex","Survived"]].groupby(["Sex"], as_index = False).mean()

      Sex  Survived
0  female  0.742038
1    male  0.188908

In [52]:
#Feature 3: Familly Size
for data in all_data:
    data['family_size'] = data['SibSp'] + data['Parch'] + 1

train_data[["family_size","Survived"]].groupby(["family_size"], as_index = False).mean()

   family_size  Survived
0            1  0.303538
1            2  0.552795
2            3  0.578431
3            4  0.724138
4            5  0.200000
5            6  0.136364
6            7  0.333333
7            8  0.000000
8           11  0.000000

In [53]:
#Feature 3.1: Is alone?
for data in all_data:
    data['is_alone'] = 0
    data.loc[data['family_size']== 1, 'is_alone'] = 1
train_data[["is_alone","Survived"]].groupby(["is_alone"], as_index = False).mean()

   is_alone  Survived
0         0  0.505650
1         1  0.303538

In [54]:
#Feature 4: Embarked
for data in all_data:
    data['Embarked'] = data['Embarked'].fillna('S')
train_data[["Embarked","Survived"]].groupby(["Embarked"], as_index = False).mean()

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.339009

In [55]:
#Feature 5: Fare
for data in all_data:
    data['Fare'] = data['Fare'].fillna(data['Fare'].median())
train_data['category_fare'] = pd.qcut(train_data['Fare'], 4)
train_data[["category_fare","Survived"]].groupby(["category_fare"], as_index = False).mean()

     category_fare  Survived
0   (-0.001, 7.91]  0.197309
1   (7.91, 14.454]  0.303571
2   (14.454, 31.0]  0.454955
3  (31.0, 512.329]  0.581081

In [56]:
#Feature 6: Age
for data in all_data:
    age_avg  = data['Age'].mean()
    age_std  = data['Age'].std()
    age_null = data['Age'].isnull().sum()

    random_list = np.random.randint(age_avg - age_std, age_avg + age_std , size = age_null)
    data['Age'][np.isnan(data['Age'])] = random_list
    data['Age'] = data['Age'].astype(int)

train_data['category_age'] = pd.cut(train_data['Age'], 5)
train_data[["category_age","Survived"]].groupby(["category_age"], as_index = False).mean()

C:\Users\hp\miniconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    category_age  Survived
0  (-0.08, 16.0]  0.513514
1   (16.0, 32.0]  0.346320
2   (32.0, 48.0]  0.394958
3   (48.0, 64.0]  0.434783
4   (64.0, 80.0]  0.090909

In [61]:
#Feature 7: Name
import re
def get_title(name):
    title_search = re.search(' ([A-Za-z]+)\.', name)
    if title_search:
        return title_search.group(1)
    return ""

for data in all_data:
    data['title'] = data['Name'].apply(get_title)

# for data in all_data:
#     data['title'] = data['title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'],'Rare')
#     data['title'] = data['title'].replace('Mlle','Miss')
#     data['title'] = data['title'].replace('Ms','Miss')
#     data['title'] = data['title'].replace('Mme','Mrs')
    
# print(pd.crosstab(train_data['title'], train_data['Sex']))
# print("----------------------")
# print(train_data[['title','Survived']].groupby(['title'], as_index = False).mean())

NameError: name 're' is not defined